$board-bg-color: #0079bf;
$navbar-app-bg-color: #0067a3;
$navbar-board-bg-color: #0079bf;
$list-bg-color: #ebecf0;
$app-main-color: #333;
$gap: 10px;
$column-header-height: 45px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480;
$screen-ip6-down: '(max-width:375px)';
